html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
linkcode,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: 'Helvetica Neue', 'Roboto', "microsoft yahei";
  line-height: 1;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeinout {
  0% {
    opacity: 0.5;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  45% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-webkit-keyframes loadmove {
  100% {
    transform: translate3d(-7.38rem, 0, 0);
  }
}
@-webkit-keyframes tips {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.02);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes tips2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes rotateBell {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
.hide {
  display: none;
}
.abs {
  position: absolute;
  top: 0;
  left: 0;
}
.absf {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.abcter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.sizcont {
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  background-position: center;
}
.sizcover {
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  font-size: 14px;
  -webkit-user-select: none;
  user-select: none;
}
.m-main-wrap {
  overflow: hidden;
}
.m-vertical {
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.m-vertical .m-wrap {
  width: 750px;
  height: 1600px;
}
@media all and (orientation: landscape) {
  .m-vertical {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
.m-loading {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
}
.m-loading .bg-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg_loading.jpg) no-repeat;
  background-size: 750px auto;
}
.m-loading .bg-box .load-process {
  position: absolute;
  top: 980px;
  left: 0;
  width: 100%;
  line-height: 32px;
  text-align: center;
  font-size: 30px;
  color: #d6a167;
}
.m-loading .bg-box .word {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../img/loading_word.png') no-repeat;
  background-size: 750px auto;
}
.m-loading .bg-box .bell {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../img/loading_bell.png') no-repeat;
  background-size: 750px auto;
}
.m-loading .bg-box .bell-line {
  position: absolute;
  width: 36px;
  height: 140px;
  background: url('../img/loading_line.png') no-repeat;
  background-size: 36px auto;
  top: 709px;
  left: 340px;
  transform-origin: center -19px;
  animation: rotateBell 0.7s linear infinite alternate;
}
.m-loading .begin-box {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.m-loading .begin-box .begin-tips {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/bg_load_tips.png') no-repeat;
  background-size: 750px auto;
  animation: tips 1.4s linear infinite;
}
.m-loading .begin-box .go-tips {
  display: none;
  position: absolute;
  top: 56%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: 60px 0 0 -40px;
}
.m-loading .begin-box .go-tips .inner {
  width: 100%;
  height: 100%;
}
.m-loading .begin-box .go-tips svg path,
.m-loading .begin-box .go-tips svg rect {
  fill: #ffffff;
}
.m-loading .begin-box .btn-begin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.m-index {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.m-index .video-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.m-index .video-box .btn-skip {
  position: absolute;
  top: 12%;
  right: 12%;
  width: 36Px;
  height: 40Px;
  background-color: #fff;
  background-size: cover;
  transform: scale(1.5);
}
.m-index .video-box .video {
  display: block;
  width: 100%;
  height: 100%;
}
.m-index .kf-box {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.m-index .kf-box .kf {
  position: absolute;
  width: 100%;
  height: 100%;
}
.m-index .kf-box .kf-ctr {
  position: absolute;
  width: 100%;
  height: 100%;
}
.m-index .kf-box .touch-tips {
  color: #ffffff;
  font-size: 30px;
  top: 80%;
}
.m-index .end-box {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.m-index .end-box.show .bg {
  opacity: 1;
}
.m-index .end-box .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/bg_end.jpg') no-repeat;
  background-size: 750px auto;
}
.m-index .end-box .btn-href {
  position: absolute;
  top: 1203px;
  left: 403px;
  width: 255px;
  height: 82px;
}
.m-index .end-box .btn-share {
  display: none;
  position: absolute;
  top: 1270px;
  left: 204px;
  width: 290px;
  height: 104px;
}
.m-index .end-box .btn-replay {
  position: absolute;
  top: 1203px;
  left: 93px;
  width: 255px;
  height: 82px;
}
