@import "reset.less";
@import "keyframe.less";
@import "common.less";

@data: '../img/';

@img: '../img/';
// @img: 'http://qrs.treedom.cn/joymj/';

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    font-size: 14px;
    -webkit-user-select: none;
    user-select: none;
}
.m-main-wrap{
    overflow: hidden;
}

.m-vertical {
    // display: none;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    .m-wrap {
        width: 750px;
        height: 1600px;
    }
}

@media all and (orientation: landscape) {
    .m-vertical {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}

.m-loading {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    .bg-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background: url('@{img}bg_loading.jpg') no-repeat;
        background: url(../img/bg_loading.jpg) no-repeat;
        background-size: 750px auto;
        .load-process {
            position: absolute;
            top: 980px;
            left: 0;
            width: 100%;
            line-height: 32px;
            text-align: center;
            font-size: 30px;
            color: #d6a167;
        }
        .word {
            position: absolute;
            width: 100%;
            height: 100%;
            background: url('@{img}loading_word.png') no-repeat;
            background-size: 750px auto;
        }
        .bell {
            position: absolute;
            width: 100%;
            height: 100%;
            background: url('@{img}loading_bell.png') no-repeat;
            background-size: 750px auto;
        }
        .bell-line {
            position: absolute;
            width: 36px;
            height: 140px;
            background: url('@{img}loading_line.png') no-repeat;
            background-size: 36px auto;
            top: 709px;
            left: 340px;
            transform-origin: center -19px; 
            animation: rotateBell 0.7s linear infinite alternate;
        }
    }
    .begin-box {
        display: none;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .begin-tips {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('@{img}bg_load_tips.png') no-repeat;
            background-size: 750px auto;
            animation: tips 1.4s linear infinite;
        }
        .go-tips {
            display: none;
            position: absolute;
            top: 56%;
            left: 50%;
            width: 80px;
            height: 80px;
            margin: 60px 0 0 -40px;
            .inner {
                width: 100%;
                height: 100%;
            }
            svg path,
            svg rect {
                fill: #ffffff;
            }
        }
        .btn-begin {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.m-index {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // z-index: 2;
    .video-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .btn-skip {
            // display: none;
            position: absolute;
            top: 12%;
            right: 12%;
            width: 36Px;
            height: 40Px;
            // background: url('@{img}bg_skip.png') no-repeat;
            background-color: #fff;
            background-size: cover;
            transform: scale(1.5);
        }
        .video {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .kf-box {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        .kf{
            position: absolute;
            width: 100%;
            height: 100%;
        }
        .kf-ctr {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        .touch-tips {
            color:#ffffff;
            font-size:30px;
            top:80%;
            // position: absolute;
            // .abcter
        }
    }
    .end-box {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &.show .bg {
            opacity: 1;
            // -webkit-transition: opacity linear 500;
            // transition: opacity linear 500ms;
        }
        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('@{img}bg_end.jpg') no-repeat;
            background-size: 750px auto;
            // opacity: 0;
        }
        .btn-href {
            position: absolute;
            top: 1203px;
            left: 403px;
            width: 255px;
            height: 82px;
        }
        .btn-share {
            display: none;
            position: absolute;
            top: 1270px;
            left: 204px;
            width: 290px;
            height: 104px;
        }
        .btn-replay {
            position: absolute;
            top: 1203px;
            left: 93px;
            width: 255px;
            height: 82px;
        }
    }
}